---
import Picture1 from "../assets/picture1.webp";
import Picture2 from "../assets/picture2.webp";
import Picture3 from "../assets/picture3.webp";
import Picture4 from "../assets/picture4.webp";
import { clients } from "../data/clients";
import HeaderImage from "./HeaderImage.astro";
import TitleSubtitle from "./TitleSubtitle.astro";

const headerContents = [
  {
    divClasses: "col-span-2 row-span-2",
    title: clients[0].name,
    subtitle: "Music & Bar.",
    src: Picture1,
  },
  {
    divClasses: "",
    title: clients[1].name,
    subtitle: "Music & Bar.",
    src: Picture2,
  },
  {
    divClasses: "row-span-2",
    title: clients[2].name,
    subtitle: "Gastronomia Afetiva.",
    src: Picture2,
  },
  {
    divClasses: "",
    title: clients[3].name,
    subtitle: "Music & Bar.",
    src: Picture4,
  },
  {
    divClasses: "",
    title: clients[4].name,
    subtitle: "Gastronomia Afetiva.",
    src: Picture3,
  },
];
---

<div class="grid grid-cols-1 lg:grid-cols-3 md:grid-rows-3 md:h-[100vh] gap-2">
  {
    headerContents.map((content) => {
      return (
        <div class={content.divClasses}>
          <a href={content.title}>
            <HeaderImage src={content.src}>
              <div slot="title-subtitle">
                <TitleSubtitle
                  title={content.title}
                  subtitle={content.subtitle}
                />
              </div>
            </HeaderImage>
          </a>
        </div>
      );
    })
  }
</div>
