---
import type { ClientModel } from "../interfaces/ClientModel";
import HeaderImage from "./HeaderImage.astro";
import TitleSubtitle from "./TitleSubtitle.astro";

interface Props {
  clients: ClientModel[];
}
const { clients } = Astro.props;

const headerContents = clients.slice(0, 8).map((client, id) => {
  const { data } = client;

  const divClasses =
    id === 0 ? "col-span-2 row-span-2" : id === 2 ? "row-span-2" : "";

  return {
    divClasses: divClasses,
    title: data.nome,
    slug: data.slug,
    subtitle: data.descricao,
    src: data.imagemPaginaPrincipal.src,
    alt: data.imagemPaginaPrincipal.alt,
  };
});
---

<div class="grid grid-cols-1 lg:grid-cols-3 md:grid-rows-3 md:h-[100vh] gap-2">
  {
    headerContents.map((content) => {
      return (
        <div class={content.divClasses}>
          <a href={content.slug}>
            <HeaderImage src={content.src} alt={content.alt}>
              <div slot="title-subtitle">
                <TitleSubtitle
                  title={content.title}
                  subtitle={content.subtitle}
                />
              </div>
            </HeaderImage>
          </a>
        </div>
      );
    })
  }
</div>
