---
import { Icon } from "astro-icon/components";
import MenuIcon from "./MenuIcon.astro";
import TitleSubtitle from "./TitleSubtitle.astro";
import { BUILDER_URLS, fetchBuilderContent } from "../services/builder-io";
import type { ClientModel } from "../interfaces/ClientModel";
import BorderContent from "./BorderContent.astro";

const commonTextsResult = await fetchBuilderContent(BUILDER_URLS.common);
const headerApiResult = await fetchBuilderContent(BUILDER_URLS.home.header);
const infoApiResult = await fetchBuilderContent(BUILDER_URLS.info);
const clientsApiResult: ClientModel[] = await fetchBuilderContent(
  BUILDER_URLS.clients
);

const menuLinks = [
  {
    name: commonTextsResult[0].data.menuHome,
    url: "/",
  },
  {
    name: commonTextsResult[0].data.menuClientes,
    url: "/#clients",
  },
  {
    name: commonTextsResult[0].data.menuSobreNos,
    url: "/about",
  },
  {
    name: commonTextsResult[0].data.menuServicos,
    url: "/#services",
  },
  {
    name: commonTextsResult[0].data.menuContato,
    url: "/#contact",
  },
];

const menuIcons = [
  {
    name: "ant-design:instagram",
    text: "Instagram",
    url: infoApiResult[0].data.instagram,
  },
  {
    name: "ant-design:spotify-filled",
    text: "Spotify",
    url: commonTextsResult[0].data.spotify,
  },
];
---

<div
  class="h-[100vh] w-full grid md:grid-cols-2 gap-12 py-6 text-4xl font-bold"
>
  <div class="grid gap-4">
    <BorderContent>
      <ul class="flex flex-col gap-6">
        {
          menuLinks.map((link) => (
            <li>
              <a class="hover:underline decoration-2" href={link.url}>
                <p class="text-6xl text-orange-500">{link.name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </BorderContent>

    <ul class="bg-grid bg-grid-size font-normal">
      {
        menuIcons.map((icon) => (
          <li>
            <a href={icon.url} target="_blank">
              <MenuIcon name={icon.name} text={icon.text} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex flex-col gap-4 bg-grid bg-grid-size">
    <h2 class="text-4xl text-orange-500">
      {commonTextsResult[0].data.nossosClientes}
    </h2>

    <ul class="flex flex-col gap-4 text-2xl">
      {
        clientsApiResult.map((client) => {
          const { data } = client;
          return (
            <li class="bg-stone-100  rounded-lg font-normal">
              <a href={data.slug}>
                <p class="text-4xl">{data.nome}</p>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
  <h2 class="-tracking-widest text-6xl font-bold">
    {headerApiResult[0].data.title}
  </h2>
</div>
